PassengerAppRoot /home/u478425112/domains/agis.arrowgo-logistics.com/public_html
PassengerAppType node
PassengerNodejs /opt/alt/alt-nodejs22/root/bin/node
PassengerStartupFile index.js
PassengerBaseURI /